<a href="https://colab.research.google.com/github/vvthakral/ADS-nutritional-labelling/blob/main/week-1-python/python_warmup.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1> Basic Intro to Python </h1>

In [ ]:
print("Hello World")

Hello World


<h3> Zen of Python </h3>

The best Python practices suggested by Tim Peters.

It's always good to abide by the zen even when you have an opportunity to show off your pythonic skills :)

In [ ]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

<h3>Help</h3>
One of the most useful functions.

In [ ]:
#To know more about each method functionality use of help is indeed a help
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

<h1>Accessing Attributes/Methods of any object</h1>

In [ ]:
#To know methods inside a module kindly make use of 'dir'
import math 
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'pi',
 'pow',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

<h3>Data types in Python</h3>

<p>The basic datatypes: <br>
str<br> 
int<br>
float<br>
list<br>
set<br>
dict<br>
<strong>Note: It is advised not to use them for naming a variable.</strong>
</p>

In [ ]:
#string
name = 'Vishnu' + ' Thakral' #We can directly add strings in this manner
print(name,type(name)) #type prints the type of the object it is called on.

Vishnu Thakral <class 'str'>

In [ ]:
# int
sem = 3
print(sem,type(sem))

3 <class 'int'>

In [ ]:
#float
random_number = 5.1212
print(random_number,type(random_number))

5.1212 <class 'float'>

In [ ]:
#list
s_list = [1,3,5,5]
print(s_list,type(s_list))

[1, 3, 5, 5] <class 'list'>

In [ ]:
#tuple
list_tuples = [(1,3),(3,4,5),(5,4)]
print(list_tuples,type(list_tuples))

[(1, 3), (3, 4, 5), (5, 4)] <class 'list'>

In [ ]:
#set
sets = set((1,2,3,3))
print(sets,type(sets))

{1, 2, 3} <class 'set'>

In [ ]:
#dictionary
ppl = {'Mr.X':'Inventor','Profession':'Research','Location':'Earth'}
print(ppl,type(ppl))

{'Mr.X': 'Inventor', 'Profession': 'Research', 'Location': 'Earth'} <class 'dict'>

In [ ]:
#boolean
boolean = True
print('Boolean',boolean)
print('bool from other data type',bool(random_number))

#None type
none_type = None

Boolean True
bool from other data type True

<h3>Commonly Used Operators and Assignment in Python</h3>

In [ ]:
a = 10
b = 10

print('Add', a+b)  #Add
print('Subtract', a-b)  # Subtract
print('Divide', a/b)  #Divide  with return answer as floating point
print('Multiply', a*b)  #Mul
print('Floor Division',a//b) #Divide with integer return type
print('Mod', a%b)  #Mod
print('Power', a**b) #Pow (^ is not used for this)

Add 20
Subtract 0
Divide 1.0
Multiply 100
Floor Division 1
Mod 0
Power 10000000000

<h5> Question.

What is the value of a after the below operations?
</h5>

In [ ]:
a = 10
b = 10
a += a
a -= b
a *= b
a /= b

<h3> Assignment Tricks

In [ ]:
a=b=10
print('a and b before swap are: ', a, b)
print('a is: ',type(a))
a,b = b,a

print('a and b after swap are: ', a, b)
print('a is: ',type(a))
print('Pretty Cool Right!! \n')

a and b before swap are:  10 10
a is:  <class 'int'>
a and b after swap are:  10 10
a is:  <class 'int'>
Pretty Cool Right!!

In [ ]:
#a,b = 0,0
a = b = 0
print('After assignment: ', a, b)

After assignment:  0 0

In [ ]:
a , *b= 50 , 60 , 70
print(a,type(a))
print(b,type(b))

50 <class 'int'>
[60, 70] <class 'list'>

<h5>Question

what will the assignment be?
</h5>

In [ ]:
a, *b, c = 50 , 60 , 70, 80
print(a,b,c)

<h3> Typecasting </h3>

In [ ]:
# string (str) to int

string = '10'
print('int typecasted is: ', int(string))

int typecasted is:  10

In [ ]:
#string to float
print('Float typecasted is: ',float(string))

Float typecasted is:  10.0

In [ ]:
#string to list
lists = list(string)
print('Typecasted to list: ', lists)

Typecasted to list:  ['1', '0']

In [ ]:
#int to string
string = str(1) + '0'
print('Int to string', string)

Int to string 10

In [ ]:
#set to list
s = set((1,2,3,3,4,5))
list_s = list(s)
print(list_s)

[1, 2, 3, 4, 5]

In [ ]:
#tuple to list
tuples = ((1,2),(1,'vishnu'),(4,'Brooklyn'))
list_tup = list(tuples)
print(list_tup)

[(1, 2), (1, 'vishnu'), (4, 'Brooklyn')]

In [ ]:
#string to list
some_str =  ' hi hello bye !'
print(some_str.split())

['hi', 'hello', 'bye', '!']

In [ ]:
#list to string

greet = ['Hello','World','!']
print('List to string: ', ' '.join(greet))

List to string:  Hello World !

In [ ]:
#ascii value of alpha numeric characters
print(chr(97))
print()

#string to ascii
print(ord('a'))

a

97

<h3>Use of inbuilt methods, random, math and datetime</h3>

In [ ]:
import random

#start and end paramaters
print('Generating random range from start and end range inclusive ',end='')
print(random.randint(5,10))

print()
print('\nExploring built in methods of Math library')
import math
print('Inbuilt constant pi',math.pi)
print('Sqrt of 25 ',math.sqrt(25))
print('Floor value',math.floor(5.3))

print('\nWorking with Datetime')
import datetime
date = datetime.datetime.now()
print(date)
print(type(date))

Generating random range from start and end range inclusive 10


Exploring built in methods of Math library
Inbuilt constant pi 3.141592653589793
Sqrt of 25  5.0
Floor value 5

Working with Datetime
2021-02-24 17:37:22.836587
<class 'datetime.datetime'>

<h3>Lists (in depth)</h3>

In [ ]:
#list Operator
#Ways to initialize
list_1 = list()
print()

#check the type of the variable
print('list_1 ',type(list_1))
print()

list_num = [1,2,3,5]
print('list_num ',list_num)
print()

list_object = ['1','2',777,'%','delhi','^']
print('list_object ',list_object)
print()

#operations automatically computed when given inside list
list_operator = [1*2,'art'+'ist',10//2]
print('list_operatior ',list_operator)

list_1  <class 'list'>

list_num  [1, 2, 3, 5]

list_object  ['1', '2', 777, '%', 'delhi', '^']

list_operatior  [2, 'artist', 5]

<h3>Access values from list</h3>
Python allows negative indexing

In [ ]:
print(list_object)

#Individual access
print('First element ',list_object[0])

['1', '2', 777, '%', 'delhi', '^']
First element  1

In [ ]:
#From start to end
print(list_object[:])
print()

['1', '2', 777, '%', 'delhi', '^']

In [ ]:
#Skipping in between
#[start:stop:step]
print(list_object[0:6:3])

['1', '%']

In [ ]:
#Negative ranges
print(list_object[-4:-1])

[777, '%', 'delhi']

<h5>Question. 

Print last 2 elements with negative indexing
</h5>

In [ ]:
#Negative indices answer:

#Trick Again!
<h5> Q. What does the below code give as output?</h5>

In [ ]:
my_string = "Hi All!"
print(my_string[::-1])

<h5>Q.What will this code do?</h5>
Hint: It is a string multiplied by a number (be careful with data types)

In [ ]:
my_string = "Python "
print(my_string*5)

<h4>Modify List</h4>

In [ ]:
#Make Changes in the list
list_object.extend([0,1.2])
print(list_object)
print()

#Make Range of values changes
subset_items = [1,52,798,8]
list_object[0:4] = subset_items
print(list_object)

['1', '2', 777, '%', 'delhi', '^', 0, 1.2]

[1, 52, 798, 8, 'delhi', '^', 0, 1.2]

In [ ]:
#Skipping changes
subset = ['2','45555','12']
list_object[0:5:2] = subset
print(list_object)

['2', 52, '45555', 8, '12', '^', 0, 1.2]

<h4>Delete Values</h4>

In [ ]:
#Delete element
list_object = [1,2,12,12,12,3,4,5,7]

#Can be used as stack and queue
list_object.pop(0) #queue
list_object.pop() #stack
list_object.pop(3) #index
print(list_object)

[2, 12, 12, 3, 4, 5]

In [ ]:
#Raise an error when removing values from present in the list or list is empty
#try except
try:
  list_object.remove(10)
except:
  print('Element not in list')
print(list_object)

Element not in list
[2, 12, 12, 3, 4, 5]

<h3>Functionalities and Power of Lists</h3>

In [ ]:
#Trick again?
list_basics = [0]*5
print(list_basics)

[0, 0, 0, 0, 0]

In [ ]:
#Concatenating two lists:
even_num = [0,2,4,6]
odd_num = [1,3,5,7]

sum_num = even_num + odd_num
print('sum_num', sum_num)
print()

#Alternate way is using extend
sum_num = []
sum_num.extend(even_num)
sum_num.append(odd_num)

print('sum_num after extend and append', sum_num)

sum_num [0, 2, 4, 6, 1, 3, 5, 7]

sum_num after extend and append [0, 2, 4, 6, [1, 3, 5, 7]]

In [ ]:
#Using inbuilt list methods
print(len(sum_num))
print(min(even_num))
print(max(even_num))
print(sum(even_num))

5
0
6
12

In [ ]:
#Use functions in the list and unpack the values
# * - unpacking operator  
new_list = [*range(10,20)]
print(new_list)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

<h3>2D lists</h3>

In [ ]:
list_2d = [[13,4,5,6],['a','b','c','d'],[1,2,3,4,5,6,7]]

#list at particular index
print(list_2d[1])

#Access the list after given index
print(list_2d[1:])

#Alternative
print(list_2d[:][1:3])

#Individual elements:
print(list_2d[0][1])

['a', 'b', 'c', 'd']
[['a', 'b', 'c', 'd'], [1, 2, 3, 4, 5, 6, 7]]
[['a', 'b', 'c', 'd'], [1, 2, 3, 4, 5, 6, 7]]
4

<h3>For loop</h3>

In [ ]:
#Print in single line
for i in range(0,5):
  print(i, end = ' ')

0 1 2 3 4

In [ ]:
#Step parameter added in range
print('Step parameter addition')
for i in range(10,2,-2):
  print(i,end= ' ')

Step parameter addition
10 8 6 4

In [ ]:
#Unrolling any iterator for that matter
print('\nPrinting list values')
sums = [1,1,3,5]
for number in sums:
  print(number)

Printing list values
1
1
3
5

In [ ]:
#One liner for loop
print('\nOne Linear For Loop')
sum_upto_10 = [i for i in range(11)]
print(sum_upto_10)

One Linear For Loop
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#One Linear Nested for loop
print('\nOne Linear Nested for loop Matrix Multiplication\n')
matrix_mul = [j*i for i in range(5) for j in range(5,10)]
print('Matrix Looks like:',matrix_mul)
#Does this obey zen?

One Linear Nested for loop Matrix Multiplication

Matrix Looks like: [0, 0, 0, 0, 0, 5, 6, 7, 8, 9, 10, 12, 14, 16, 18, 15, 18, 21, 24, 27, 20, 24, 28, 32, 36]

In [ ]:
mat = []
for i in range(5):
  for j in range(5,10):
    mat.append(j*i)

In [ ]:
a = ['Hello', 'world', '!']
#Iterable Method 1
for i in range(len(a)):
  print(i,a[i])
print('')

#Method 2
for i in a:
  print(i)
print()

#Method 3
print(list(enumerate(a)))

0 Hello
1 world
2 !

Hello
world
!

[(0, 'Hello'), (1, 'world'), (2, '!')]

<h3>Functions</h3>

In [ ]:
#Fizz Buzz coding
# To define a function use the def keyword followed by func name with attributes (if any) passed.

def fizzBuzz():
  '''
  Given a range print Fizz if divisible by 3, Buzz if divisible by 5 else FizzBuzz if divisible by 3 and 5
  '''
  n = int(input('Enter a number '))
  #Python way
  count = 1
  while (count <= n):
    string = ''
    if (count %3 == 0):
      string = 'Fizz'
    if (count % 5 == 0):
      string += 'Buzz'
    print(count,string)
    count +=1
    
fizzBuzz()

Enter a number 15
1
2
3 Fizz
4
5 Buzz
6 Fizz
7
8
9 Fizz
10 Buzz
11
12 Fizz
13
14
15 FizzBuzz

In [ ]:
def fizzBuzz():
  '''
  Same function as above with more if else conditions.
  '''
  n = int(input('Enter a number '))
  count = 1
  while(count <= n):
    if (count % 5 == 0 and count % 3 == 0):
      print(count,'Fizz Buzz')
    elif (count % 3 == 0):
      print(count,'Fizz')
    elif (count % 5 == 0):
      print(count,'Buzz')
    else:
      print(count)
    count +=1
fizzBuzz()

Enter a number 15
1
2
3 Fizz
4
5 Buzz
6 Fizz
7
8
9 Fizz
10 Buzz
11
12 Fizz
13
14
15 Fizz Buzz

<h3>Dictionary</h3>

We use key and not index to reference elements in dictionary

In [ ]:
#Creating an empty dictionary
dict_ = {} # We defined dict_ and not dict 
#dict_ = {key:value,key:value} #Keys have to be in a set i.e they are to be unique
string = 'iamdictionaryiteratemeandseethefun'

for ch in string:
  if (ch in dict_):
    dict_[ch] +=1

  else:
    dict_[ch] = 1

for k,v in dict_.items():
  #pass
  print(f'Character {k} and its count {v}')
  
#if we try updating for a key that is present the original value will be overwritten

Character i and its count 4
Character a and its count 4
Character m and its count 2
Character d and its count 2
Character c and its count 1
Character t and its count 4
Character o and its count 1
Character n and its count 3
Character r and its count 2
Character y and its count 1
Character e and its count 6
Character s and its count 1
Character h and its count 1
Character f and its count 1
Character u and its count 1

In [ ]:
#Print value for some key
#Use .get or check for existence before access to avoid error like below
print(dict_['z'])

KeyError: ignored

In [ ]:
print(dict_.get('z'))

None

<h4>Dictionary Trick

In [ ]:
#merge 2 dictionaries
x = {'a':1,'b':2}
y = {'c':3}
z = {**x,**y}
print(z)

{'a': 1, 'b': 2, 'c': 3}

<h5>Question. 

Can we have a list as a dictionary key.

<h3>Sorting

In [ ]:
#Sorting a list

#For sorting the dataype should be of same type
list_ = ['a','3232','21332','bsaa','87','3231']
print('Ascending order ',list_)

#Insights of this sorting  (only done for 1st character)
result = []
for i in list_:
  sum_ = 0
  for j in i:
    sum_ = ord(j)
    break
  result.append(sum_)

#It checks the first character of a string if there is a match with other string then it goes 
print('Before sorting')
print(list_)
print(result)

print('---------------')
print('After sorting')
list_.sort()
result.sort()
print(list_)
print(result)

Ascending order  ['a', '3232', '21332', 'bsaa', '87', '3231']
Before sorting
['a', '3232', '21332', 'bsaa', '87', '3231']
[97, 51, 50, 98, 56, 51]
---------------
After sorting
['21332', '3231', '3232', '87', 'a', 'bsaa']
[50, 51, 51, 56, 97, 98]

<h3>Sorted vs Sort</h3>
The primary difference between the list sort() function and the sorted() function.

sort() function will modify the list it is called on.The function modifies/sorts the list in-place and has no return value.

The sorted() function will create a new list containing a sorted version of the list it is given.

In [ ]:
a = [1,3,2]
print('a before any sort: ', a)
b = sorted(a)
print('a after sorted: ',a)
print('b: ', b)
a.sort()
print('a after sort(): ', a)

a before any sort:  [1, 3, 2]
a after sorted:  [1, 3, 2]
b:  [1, 2, 3]
a after sort():  [1, 2, 3]

<h3>Lambda functions</h3> 

Dictionary insights with sorting functions

In [ ]:
#Norrmal functions in python
def sumFunc(a,b,c):
  ...
  ...
  ...
  return a+b+c
  
sumFunc(5,6,2)

13

#Lambda Trick

In [ ]:
add = lambda a,b,c: a+b+c
print(add(5, 6, 2))

13

In [ ]:
dictonary = {67:"Rahul",23:"Darsh",12:"Dhaval",45:"Manish",11:"Dipam",101:"Biman",99:"Biman"}

#To sort values based on either key or values in the dictionary and supply order of sort in reverse parameter
tuples = sorted(dictonary.items(), key = lambda x: x[1], reverse = False)

#Note just in list tuple cannot be unpacked, it needs to be accessed index wise
#Print the sorted elements
print('Sorted on keys')
for elements in tuples:
    print(elements[0],"::",elements[1])


#Sort First on values and then keys, Interesting
tuples  = sorted(dictonary.items(),key = lambda x:(x[1],x[0]), reverse=False)
print('Sorted on first values and then keys\n')
for elements in tuples:
    print(elements[0],"::",elements[1])

Sorted on keys
101 :: Biman
99 :: Biman
23 :: Darsh
12 :: Dhaval
11 :: Dipam
45 :: Manish
67 :: Rahul
Sorted on first values and then keys

99 :: Biman
101 :: Biman
23 :: Darsh
12 :: Dhaval
11 :: Dipam
45 :: Manish
67 :: Rahul

<h5>Q.

One way of Initialzing Dictionary is keys as Ages and value as name of Person.

What are the drawback of such keys?
</h5>

<h3>Counter

In [ ]:
from collections import Counter

color = ['blue','blue','red','yellow','green','red']
z = Counter(color)
print('Type ',type(z))
print(z)

#Can be initialized like this also
coun = Counter(a=1, b=2, c=3, d=120, e=1, f=219)
print('\nMost frequent occuring letters using Counters')
for letter,count in coun.most_common(4):
    print('%s %d' %(letter,count))

print('Convert counters to List')
coun = Counter(a=1, b=2, c=3) 
print(list(coun.elements()))

Type  <class 'collections.Counter'>
Counter({'blue': 2, 'red': 2, 'yellow': 1, 'green': 1})

Most frequent occuring letters using Counters
f 219
d 120
c 3
b 2
Convert counters to List
['a', 'b', 'b', 'c', 'c', 'c']

<h5>Q.Check if below strings are Anagrams</h5>

In [ ]:
my_string_1 = "RACECAR"
my_string_2 = "CARRRCE"